/* styles/large.css */
@media (min-width: 768px) {
  .nav ul {
    flex-direction: row;
    gap: 1rem;
    margin-top: 0;
  }

  .about-photo {
    flex-direction: row;
  }

  .about, .photo {
    flex: 1;
  }

  .filters button {
    max-width: 150px;
  }

  .hamburger {
    display: none;
  }
}


